<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="styles.zonetech.net.styles">
    <!-- *************************************PERMISSIONS******************************************* -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            ></activity>
        <!-- ****************************************GOOGLE MAPS KEY**************************************** -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- ******************************************* ACTIVITIES****************************************** -->
        <activity
            android:name=".Activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HairDressersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HairDresserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.BillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OrdersActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="orderActivity"></action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MessagesActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="messageActivity"></action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.FullscreenGallery"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" /> <!-- *******************************************FIREBASE STUFF**************************************************** -->
        <service
            android:name=".FireBase.FireBaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".FireBase.FireBaseInstanceIDService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- ******************************************FACEBOOK STUFF***************************************************** -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>